// main: ../styles/app.less

@media (min-width: 768px) {
  .main-content {
    height: 86vh;
  }
}


.content {
  margin-top: 120px;
  p {
    font-size: 16px;
    line-height: 23px;
  }
  li {
    font-size: 16px;
    line-height: 23px;
  }
}
