// out: ../css/main.css, compress: true

/* main home page blocks */
.home {
/*   background-image: url('../img/portplace33.jpeg');
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
background-position: center; */
background-color: #FD5F65;
  h1 {
    margin-top: 50px;
    color: black;
  }
}

.about {
  background-color: #4bb5ea;
}


.contact {
  background-color: #FD5F65;
}

.services {
  background-color: #A856EF;
  h2 {
    margin: 10px 40px;
  }
}

.main-content-wrap {
  position: absolute;
  width: 100%;
  padding: 0px 40px;
}
