<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Max Creates Websites</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body >
  <!--top header inc logo -->
  <div class="container-fluid">
    <div class="row top-nav" >
      <div class="col-xs-6 pull-left hidden-md hidden-lg hidden-sm" ng-controller="menuCtrl">
        <div class="burger-menu" ng-click="changeBurgerStatus()" ng-class="class">
          <div class="burger"></div>
        </div>
      </div>
      <a href="#/home" ><div class="col-xs-6 col-sm-3 "></a>
      <a href="#/home" class="header-logo" ><i class="fa fa-bolt fa-2x"></i><i class="fa fa-bolt fa-2x"></i></a>
      </div>
      <div class="col-sm-3 col-sm-offset-6 hidden-xs">
        <a  href="mailto:maxnorton.nz@gmail.com?Subject=Hey%20Max!" target="_blank"><i class="fa fa-envelope-o fa-2x pull-right"></i></a>
        <a href="https://twitter.com/maxnorton_" target="_blank"><i class="fa fa-twitter fa-2x pull-right"></i></a>
        <a id="nav-toggle" href="" class="hidden"><span></span></a>
      </div>
    </div>
  </div>
  <!--end header inc logo -->

  <div id="wrapper">
    <div id="sidebar-wrapper">
      <h1 class="bold text-center">M</h1>
      <p class="menu-slide bold">MENU</p>
      <ul class="sidebar-nav">
        <li><a href="#/home" >Home</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/services">Services</a></li>
        <li><a href="#/contact">Contact</a></li>
      </ul>
    </div>
    <div ng-controller="menuCtrl" class="rendered-content" ng-click="changeBurgerStatus()" ng-class="class">
      <div ng-view class="main-content-wrap">
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="app.js"></script>
  <script src="view_home/home.js"></script>
  <script src="view_about/about.js"></script>
  <script src="view_services/services.js"></script>
  <script src="view_contact/contact.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
